@font-face {
    font-family: material;
    src: url(sansation_bold.woff);
}

body {
    max-width: 900px;
    margin: 40px auto;
    background-image: url("mascots/_sucy-mushroom_shop.png");
	background-position: center top;
}

.search {
    color: white;
}
